
<a routerLink="/productos" class="btn btn-outline-primary btn-block">Regresar</a>

<div class="row">
    <div class="col-md-4">
        <h1 style="text-align: center;">{{producto.nombre | uppercase}}</h1>
        <img [src]="producto.picture" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h3>{{producto.nombre}}</h3>
        <hr>
        <p>
            {{producto.descripcion}}
        </p>
        <p>
            <strong>Precio: </strong> {{producto.precioUni | currency:'USD':true}}
        </p>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a (click)="eliminarProducto()" class="btn btn-outline-danger btn-block">Eliminar</a>
                </div>
                <div class="col-md-2">
                    <a (click)="actualizar()" class="btn btn-outline-success btn-block">Actualizar</a>
                </div>
            </div>
        </div>
    </div>

</div>