<a routerLink="/productos" class="btn btn-outline-primary btn-block">Regresar</a>

<div class="row" *ngIf="auth.user$ | async as user">
    <div class="col-md-4">
        <h1 style="text-align: center;">{{user.nickname | uppercase}}</h1>
        <img [src]="user.picture" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h3>{{user.email}}</h3>
        <hr>
        <p>
            <strong>fecha de registro: </strong> {{user.updated_at | date:'medium'}}
        </p>
    </div>

</div>

